* {
    margin: 0;
    padding: 0;

    font-size: 1rem;
}

#page {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;

    background-color: lightgray;

    align-items: center;
}

.modal-background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;

    border-width: 0;

    background-color: rgba(0, 0, 0, 0.4)
}

.modal {
    position: fixed;
    min-width: min-content;
    width: 50%;
    left: calc(50vw);
    transform: translate(-50%, 0);
    top: 5vh;
    padding: 2rem;

    border-style: solid;
    border-width: 3px;
    border-radius: 2rem;
    border-color: black;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;

    align-self: center;
    justify-self: center;
}

.modal-header {
    padding-bottom: 1rem;

    font-size: 2.5rem;
}

.book-form {
    width: 90%;

    padding: 2rem;

    border: solid;
    border-width: 2px;
    border-radius: 2rem;
    border-color: gray;

    display: flex;
    flex-direction: column;

    background-color: rgb(240, 240, 240);
}

.text-input {
    margin: 0.5rem 0rem;
    padding: 0.5rem;

    border-radius: 10rem;

    font-size: 1.5rem;
}

.submit-button {
    width: min-content;
    padding: 0.5rem;

    border-radius: 0.5rem;

    background: greenyellow;

    align-self: center;
}

.exit-modal-button {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;

    font-size: 1.5rem;
    font-weight: 700;

    border-radius: 1rem;

    background: rgb(255, 88, 88);
}

#library {
    width: min(80%, 80rem);
    margin: 5rem;
    padding: 2rem;

    border-style: solid;
    border-width: 5px;
    border-color: orangered;
    border-radius: 3rem;

    background: orange;

    box-shadow: 3px 3px 20px black;

    display: flex;
    flex-direction: column;

    align-items: center;
}

#library-heading {
    font-size: 6rem;

    color: blue;
}

#books {
    width: 100%;
}

.book-id {
    display: none;
}

.book-card {
    position: relative;

    width: min(30rem, min-content);

    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    border-style: solid;
    border-width: 2px;
    border-color: purple;
    border-radius: 2rem;

    background-color: lightblue;
    box-shadow: 2px 1px 8px black;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-title {
    max-width: 60%;
    font-size: 2rem;
    color: blue;
    text-align: center;
}

.book-author, .book-page-count, .book-read {
    font-size: 1.5rem;
}

.book-author {
    color: darkblue;
}

.book-delete {
    position: absolute;
    left: 1rem;

    padding: 0.5rem 1rem;

    border-radius: 1rem;

    font-weight: bold;

    background: repeating-linear-gradient(
        120deg,
        lightgray 0px,
        red 10px,
        lightgray 20px
    );

    font-size: 1.5rem;
}

.book-read-toggle {
    width: 8rem;

    position: absolute;
    bottom: 1rem;
    top: 1rem;
    right: 1rem;

    padding: 1rem;

    border-radius: 1rem;

    font-weight: bold;

    background: #add8e6;

    font-size: 1.3rem;
}

.book-read-toggle:hover {
    background: #7aa8b8;
}

#add-book-button {
    font-size: 2rem;
    padding: 0.7rem;

    border-radius: 50%;

    background-color: whitesmoke;
}