* {
    margin: 0;
    padding: 0;

    font-size: 1rem;
}

#page {
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;

    background-color: lightgray;

    align-items: center;
}

#library {
    width: min(90%, 80rem);
    margin: 5rem;
    padding: 2rem;

    border-style: solid;
    border-width: 5px;
    border-color: orangered;
    border-radius: 3rem;

    background: orange;

    box-shadow: 3px 3px 20px black;

    display: flex;
    flex-direction: column;

    align-items: center;
}

#library-heading {
    font-size: 6rem;

    color: blue;
}

#books {
    width: 100%;
}

.book-id {
    display: none;
}

.book-card {
    position: relative;

    width: min(30rem, min-content);

    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    border-style: solid;
    border-width: 2px;
    border-color: purple;
    border-radius: 2rem;

    background-color: lightblue;
    box-shadow: 2px 1px 8px black;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-title {
    max-width: 60%;
    font-size: 2rem;
    color: blue;
    text-align: center;
}

.book-author, .book-page-count, .book-read {
    font-size: 1.5rem;
}

.book-author {
    color: darkblue;
}

.book-delete {
    position: absolute;
    left: 1rem;

    padding: 0.5rem 1rem;

    border-radius: 1rem;

    font-weight: bold;

    background: repeating-linear-gradient(
        120deg,
        lightgray 0px,
        red 10px,
        lightgray 20px
    );

    font-size: 1.5rem;
}

.book-read-toggle {
    position: absolute;
    bottom: 1rem;
    right: 1rem;

    padding: 1rem;

    border-radius: 1rem;

    font-weight: bold;

    background: #add8e6;

    font-size: 1rem;
}

.book-read-toggle:hover {
    background: #7aa8b8;
}

#add-book-button {
    font-size: 2rem;
    padding: 0.7rem;

    border-radius: 50%;

    background-color: whitesmoke;
}