.container {
  display: grid;
  grid-template-columns: 2fr 1fr 6fr 2fr 2fr;
  grid-template-rows: 3fr 1fr 2fr 1fr 3fr;
}

.backing {
  background-color: green;
  grid-area: 3/2/6/4;
}

.text {
  grid-area: 3/3/5/5;
}