* {
    margin: 0;
    padding: 0;

    font-size: 1rem;
}

#library {
    margin: 1rem;
}

.book-id {
    display: none;
}

.book-card {
    border-style: solid;
    border-width: 2px;
    border-color: gray;

    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}